#header{
	min-height: 100px;
}
#header h3 {
	color: #545454;
}
.admin-menu {
	background:#ddd;
	margin: 0;
	padding: 15px 18px; 
	list-style-type: none;
}
.admin-menu li { 
	display: inline-block;
	margin-right: 30px;
}
/* Main Directory Menu Nav  */
#nav{display:block;width:100%;height:24px;margin: 0; padding: 0;}
#nav li a, #nav li{display:inline-block;text-align: center; font-size: 12px; border-top: 1px solid #c0c0c0; border-bottom: 1px solid #c0c0c0;}
#nav li{list-style: none;position: relative}
#nav li a{width:120px;height:24px;text-decoration: none;background: #c0c0c0; color: white;line-height: 26px;}
#nav li a:hover{background: #999; border-top: 1px solid #888; border-bottom: 1px solid #ccc;text-shadow:1px 1px 1px rgba(0,0,0, .65);}
/*submenu*/
#nav li ul{display: none;position: absolute;left: 0;top:24;padding:0;margin:0;}
#nav li:hover > ul{display: block;/*memunculkan submenu ketika a pada menu level 1 di hovers*/}
#nav li ul li, #nav li ul li a{float: none;}
#nav li ul li{_display:inline;/* dukungan untuk ie6 */}
#nav li ul li a{width: 120px;display: block;}
/*sub submenu*/
#nav li ul li ul{display: none;}
#nav li ul li:hover ul{left:100%;top:0;}